[core]
	editor = \"C:\\Users\\Moroshima\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = Moroshima
	email = moroshimaitsuki@gmail.com
[http]
	proxy = http://localhost:7890
